<h1>Your Text Analysis</h1>

<h2>Number of Words: <%="#{@new.count_of_words}" %></h2>

<h2>Vowels: <%="#{@new.count_of_vowels}" %></h2>

<h2>Consonants: <%="#{@new.count_of_consonants}" %></h2>

<h2>Most Common Letter: <%= "#{@new.most_used_letter.keys[0].upcase}" %>, used <%= "#{@new.most_used_letter.values[0]}" %> times</h2>